body {
  background: rgb(255, 208, 229);
  background: linear-gradient(180deg, rgb(248, 187, 202) 0%, rgba(255, 232, 242, 1) 36%, rgb(244, 244, 244) 100%);
  font-family: 'Comic Neue', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden; /* Prevent scrolling */
}

.container {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  color: #da1b74;
  margin: 0.5em 0;
}

.header_text {
  font-size: 3em; /* Adjust font size for better readability on smaller screens */
  color: #bf266e;
  margin: 0.5em 0;
}

.buttons {
  margin-top: 20px;
}

.yes-button, .no-button {
  font-size: 1.2em; /* Adjust font size for better readability on smaller screens */
  font-family: 'Comic Neue', cursive; /* Include the font family */
  font-weight: bold; /* Make the text bold */
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.yes-button {
  background-color: #f373af;
  color: #eeeeee;
}

.no-button {
  background-color: #da1b74;
  color: #eeeeee;
}

.gif_container img, .gif_container video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

/* Add this rule to change the background color of the sadContent container */
#sadContent {
  background: linear-gradient(180deg, #3f1818 0%, rgb(36, 2, 2) 100%, rgb(0, 0, 0) 100%);
  color: white; /* Change text color to white for better visibility */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Adjust the size of the snoopy cry gif for better visibility on smartphones */
#sadContent .gif_container img {
  width: 50%; /* Adjust the width as needed */
  height: auto;
  max-width: 300px; /* Set a maximum width */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  #sadContent .gif_container img {
    width: 80%; /* Adjust the width for smaller screens */
    max-width: none; /* Remove the maximum width */
  }

  #yesContent {
    margin-top: 10px; /* Adjust the margin to move the content higher */
  }
}

/* Center the yesContent vertically */
#yesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles for stickers */
.sticker {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.284));
  pointer-events: none; /* Ensure stickers don't interfere with content */
  width: 80px; /* Set the width of the sticker */
  height: 80px; /* Set the height of the sticker */
}